<!-- slider-area -->
<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg" data-background="/geair/assets/img/slider/slider_bg01.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10">
                        <div class="slider-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s">Uygun Fiyatlı Uçuşlarla Yeni Rotaları Keşfedin</h2>
                            <p data-animation="fadeInUp" data-delay=".4s">Yurt içi ve yurt dışı uçuşlarda avantajlı fiyatları inceleyin, seyahatinizi kolayca planlayın.</p>
                            <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay=".6s">Hemen Üye Ol / Giriş Yap</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg" data-background="/geair/assets/img/slider/slider_bg02.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10">
                        <div class="slider-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s">Seyahatinizi Planlayın, Avantajları Kaçırmayın</h2>
                            <p data-animation="fadeInUp" data-delay=".4s">Erken rezervasyon fırsatları, özel kampanyalar ve bütçenize uygun uçak biletleri burada.</p>
                            <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay=".6s">Fırsatları İncele</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg" data-background="/geair/assets/img/slider/slider_bg03.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10">
                        <div class="slider-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s">Tek Tıkla Rezervasyon, Güvenli ve Hızlı İşlem</h2>
                            <p data-animation="fadeInUp" data-delay=".4s">Uçuş arayın, rezervasyon oluşturun ve seyahatiniz için tüm detayları tek ekranda yönetin.</p>
                            <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay=".6s">Rezervasyon Yap</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider-area-end -->